<div
  class="bottom-sheet-overlay"
  [class.show]="isOpen"
  (click)="closeSheet()"
></div>

<div class="bottom-sheet-container" [class.show]="isOpen">
  <div class="bottom-sheet-header">
    <h3 class="bottom-sheet-title">Setor de análise</h3>
    <button class="close-button" (click)="closeSheet()">&times;</button>
  </div>
  <div class="bottom-sheet-content">
    <button class="bottom-sheet-option" (click)="selectOption('RH')">
      <i class="fas fa-users icon"></i> RH
    </button>
    <button class="bottom-sheet-option" (click)="selectOption('Juridico')">
      <i class="fas fa-gavel icon"></i> Jurídico
    </button>
  </div>
</div>
